.mainDisplay {
  width: 100%;
}
.flex-container {
  display: flex;
  align-content: stretch;
  align-items: stretch;
}

.card {
  position: relative;
  margin-top: 25px;
  margin-right: 20px;
  flex: 1 1 auto;
  text-align: center;
  min-height: 40vh;
}
.card:first-child {
  margin-left: 20px;
}
.card ol {
  list-style-position: inside;
  text-align: left;
  border: 2px dotted red;
  margin-bottom: 60px;
}

li {
  font-size: 20pt;
}
.button {
  position: absolute;
  bottom: 12px;
}
.add {
  right: 25px;
}
.minus {
  left: 25px;
}
.delete {
  margin: 25px 10%;
  width: 80%;
}
