.mainDisplay {
  width: 100%;
}
.flex-container {
  margin-top: 0.6%;
  display: flex;
  align-content: stretch;
  align-items: stretch;
  flex: 1 1;
}

.card {
  position: relative;
  margin-right: 2%;
  flex: 1 1 auto;
  text-align: center;
  min-height: 40vh;
}
.card:first-child {
  margin-left: 2%;
}
.card ol {
  list-style-position: inside;
  text-align: left;
  padding-bottom: 7%;
}

li {
  width: 90%;
}
li:hover {
  background: #ccc;
}
.add {
  right: 3%;
  position: absolute;
  bottom: 3%;
}
.delete {
  margin: 1.2% 25%;
  width: 50%;
}
.cardInput {
  left: 3%;
  position: absolute;
  bottom: 3%;
}
